<div class="contact-page">
  <div class="container">
    <whatsapp-icon
      class="icon"
      (iconClicked)="iconClicked($event)"
      (iconEnter)="iconHovered($event)"
      (iconLeave)="iconHovered($event)"
    />
    <reddit-icon
      class="icon"
      (iconClicked)="iconClicked($event)"
      (iconEnter)="iconHovered($event)"
      (iconLeave)="iconHovered($event)"
    />
    <telegram-icon
      class="icon"
      (iconClicked)="iconClicked($event)"
      (iconEnter)="iconHovered($event)"
      (iconLeave)="iconHovered($event)"
    />
    <gmail-icon
      class="icon"
      (iconClicked)="iconClicked($event)"
      (iconEnter)="iconHovered($event)"
      (iconLeave)="iconHovered($event)"
    />
    <github-icon
      class="icon"
      (iconClicked)="iconClicked($event)"
      (iconEnter)="iconHovered($event)"
      (iconLeave)="iconHovered($event)"
    />
    <linkedin-icon
      class="icon"
      (iconClicked)="iconClicked($event)"
      (iconEnter)="iconHovered($event)"
      (iconLeave)="iconHovered($event)"
    />
  </div>
</div>
