.theme_selection {
  padding: var(--5-px);
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 1.5fr 0.1fr repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 5px;
  grid-row-gap: 5px;
  .div3,
  .div4,
  .div5,
  .div6,
  .div7,
  .div8 {
    border-radius: 100vh;
    transition-duration: 0.3s;
    &:hover {
      scale: 1.1;
      cursor: pointer;
    }
    &:active {
      scale: 0.9;
    }
  }
  .div1 {
    grid-area: 1 / 1 / 3 / 2;
  }
  .div2 {
    grid-area: 1 / 2 / 3 / 3;
    background-color: gray;
    padding: 2px;
    width: 0;
    border-radius: 100vh;
    opacity: 0.5;
  }
  .div3 {
    grid-area: 1 / 3 / 2 / 4;
    background-color: rgb(255, 193, 37);
  }
  .div4 {
    grid-area: 1 / 4 / 2 / 5;
    background-color: rgb(255, 134, 134);
  }
  .div5 {
    grid-area: 1 / 5 / 2 / 6;
    background-color: rgb(98, 37, 209);
  }
  .div6 {
    grid-area: 2 / 3 / 3 / 4;
    background-color: rgb(255, 190, 152);
  }
  .div7 {
    grid-area: 2 / 4 / 3 / 5;
    background-color: rgb(44, 171, 244);
  }
  .div8 {
    grid-area: 2 / 5 / 3 / 6;
    background-color: rgb(100, 214, 100);
  }
  .div9 {
    display: none;
  }
}
@media (max-width: 768px) {
  .theme_selection {
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    background-color: rgba(0, 0, 0, 0.2);
    place-content: center;
    align-content: center;
    margin-top: var(--20-px);
    .div3,
    .div4,
    .div5,
    .div6,
    .div7,
    .div8 {
      height: calc(var(--20-px) + var(--20-px) );
      width: calc(var(--20-px) + var(--20-px) );
    }
    .div2{
      display: none;
    }
    .div1 {
      grid-area: 1 / 1 / 2 / 2;
    }
    // .div2 { grid-area: 1 / 3 / 2 / 4; }
    .div3 {
      grid-area: 1 / 4 / 2 / 5;
    }
    .div4 {
      grid-area: 1 / 5 / 2 / 6;
    }
    .div5 {
      grid-area: 1 / 6 / 2 / 7;
    }
    .div6 {
      grid-area: 1 / 7 / 2 / 8;
    }
    .div7 {
      grid-area: 1 / 8 / 2 / 9;
    }
    .div8 {
      grid-area: 1 / 9 / 2 / 10;
    }
  }
}
