<p class="heading">Manoj HT</p>
<p>
  <a href="https://github.com/Manoj-HT" target="_blank">GitHub</a> |
  <a href="www.linkedin.com/in/manoj-ht" target="_blank">LinkedIn</a> |
  <a href="https://manoj-ht.web.app" target="_blank">Portfolio</a>
</p>
<div class="resume_content">
  <div class="resume_projects">
    <h1 class="sub_heading">Projects</h1>
    <p class="sub_heading-2">Onnet Systems India</p>
    <div class="projects_list">
      Metadata Tracker, Metadata Entry Portal, Vayudrishti, Vayutarang Admin,
      Vayutarang Subscriber, OTT Admin, OTT, IPTV, SMS, CAS, Mux-Scrambler, DRM,
      Packager, OTA-Manager
    </div>
    <p class="sub_heading-2">Personal</p>
    <div class="projects_list">
      <ul>
        <li>
          <a href="https://github.com/Manoj-HT/Crypto-Encryption-Decryption.git"
            >Crypto-Encryption-Decryption</a
          >
        </li>
        <li>IPTV Player</li>
        <li>Todo</li>
      </ul>
    </div>
  </div>
  <div class="resume_experience-certifications">
    <h1 class="sub_heading">Experience</h1>
    <div class="experience_list">
      <ul>
        <li>
          <p class="sub_heading-2">Onnet Systems India</p>
          <p class="job_description">November 2022 - Present</p>
          <p class="job_description">Software developer</p>
          <p class="job_description mar-top-5">
            Developed, optimized, and troubleshoot front-end applications
          </p>
          <p class="job_description mar-top-5">
            Technologies used: Angular, React, React Native
          </p>
        </li>
        <li>
          <p class="sub_heading-2">Hydrolines India</p>
          <p class="job_description">November 2020 - November 2021</p>
          <p class="job_description">Trainee Engineer</p>
          <p class="job_description mar-top-5">
            Managed the end-to-end process of receiving, manufacturing,
            inspecting, handling, coordinating transfer to various departments,
            and ensuring meticulous packaging for export.
          </p>
          <p class="job_description mar-top-5">Skills used: GD & T</p>
        </li>
      </ul>
    </div>
    <h1 class="sub_heading mar-top-10">Certification</h1>
    <div class="certification_list">
      <ul>
        <li>
          <p class="sub_heading-2">Java Full Stack</p>
          <p class="description">JSpiders, January 2022 - August 2022</p>
          <p class="description">Certificate Number: BTM-JSP-040</p>
        </li>
      </ul>
    </div>
  </div>
</div>
