<p class="heading theme-gradient" draggable="true" (dragend)="dragEnd($event)">
  Hi! I'm Manoj
</p>
<div class="img_container">
  <!-- ngSrc="assets/images/client-heading-pic.webp" -->
  <img
    loading="lazy"
    alt=""
    ngSrc="https://firebasestorage.googleapis.com/v0/b/manoj-ht.appspot.com/o/client-heading-pic.webp?alt=media&token=759fc984-8b4d-4478-b5e4-a7cbf37bf643"
    width="6000"
    height="4000"
  />
</div>
<br />
<p>
  Hey there! I'm Manoj HT, a seasoned web developer with a passion for crafting
  exceptional digital experiences. With 1.5 years of professional experience in
  reputed companies, I've honed my skills in building robust web applications
  using cutting-edge technologies.
</p>
<br />
<p class="theme-gradient-bold">Value Proposition</p>
<p>
  At the core of my expertise lies Angular, a framework where I excel with
  precision and proficiency. But my capabilities extend beyond Angular—I'm adept
  in React and React Native, offering versatility in development across
  platforms.
</p>
<br />
<p class="theme-gradient-bold">Unique Selling Proposition</p>
<p>
  What sets me apart is my specialization in IPTV and OTT streaming solutions
  for the web. While many developers focus on conventional web development, my
  experience in this niche sector gives me a unique edge. Whether it's
  developing CRM systems, content management solutions, or bespoke web
  applications, I bring a wealth of knowledge and insight gained from working in
  the dynamic realm of streaming technology.-bold
</p>
<br />
<p class="theme-gradient-bold">Target Audience</p>
<p>
  My portfolio is designed to appeal to a diverse range of audiences. While I
  have a strong background in web development and have specialized in IPTV and
  OTT streaming solutions for companies in the entertainment industry, I'm also
  equipped to tackle a variety of projects beyond this scope. Recruiters seeking
  top-tier talent in web development will find my portfolio showcases my
  expertise in Angular, React, and React Native, along with a track record of
  delivering high-quality projects. Additionally, companies in sectors beyond
  streaming services can benefit from my skills, whether it's developing CRM
  systems, content management solutions, or custom web applications tailored to
  their unique needs.
</p>
